<phpunit>
    <testsuites>
        <testsuite name="vagrant-registry-generator">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">tests</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
