body {
    font-family: serif;
}

.header {
    border-bottom: 1px solid darkgray;
}

.footer {
    border-top: 1px solid darkgray;
    padding-top: 1em;
    font-size: small;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    padding-right: 1em;
    line-height: 1.5em;
    text-align: left;
}

pre.vagrantFile {
    display: inline-block;
    padding: 1em;
    background-color: lightgray;
}

div.fileMetadata span {
    display: inline-block;
    padding-right: 1em;
}

div.version a {
    text-decoration: none;
    color: black;
}

div.version h2 {
    padding-bottom: 0.5em;
}
